/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@500;700&family=Roboto:wght@500;700&display=swap');

.background {
  background: 
    linear-gradient(135.38deg, #E6E6FF 66.5%, transparent 50%),
    linear-gradient(45.65deg,  #BF00FF 40.72%, #8949FF 128.96% , #0000FF 59.02%);
  height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  border-radius: 40px; 
  padding: 40px;
  max-width: 1200px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 90%;
}

.custom-card {
 border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: max-content;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 3rem; 
}

.custom-card:hover{
  box-shadow: 0 4px 8px #8949FF
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.card-price {
  font-family: 'poppins';
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
  margin-left: 0.70rem;
  color: #130A55;
}

.card-title {
  font-weight: bold;
  margin-left: 0.70rem;
}

.period {
  font-size: 0.8rem;
  font-family: 'poppins';
  font-weight: 700;
  color: #809187;
}

.icon-glow1 {
  color: #1C2C83;
  font-size: 0.95rem;
  margin-right: 0.6rem;
  text-shadow: 0 0 5px #1C2C83, 0 0 10px #1C2C83, 0 0 15px #1C2C83;
}

.icon-glow2 {
  color: #4271BA;
  font-size: 0.85rem;
  margin-right: 0.6rem;
  text-shadow: 0 0 5px #1C2C83, 0 0 10px #1C2C83, 0 0 15px #1C2C83;
}

.icon-glow3 {
  color: #4A00C2;
  font-size: 0.95rem;
  margin-right: 0.6rem;
  text-shadow: 0 0 5px #1C2C83, 0 0 10px #1C2C83, 0 0 15px #1C2C83;
}

.fa-ul {
  padding:0 ;
  list-style-type: none;
  text-align: left;
  font-family: 'poppins';
  font-weight: 500;
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 30px;
  margin: 20px 0px;
}

.fa-li {
  position: static;
  display: flex;
  font-size:17px;
  text-align: left;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.fa-li i {
  
  text-align: left;
  margin-right: 3rem;
  margin-left: 0rem;
  color: rgba(239, 151, 19, 1); 
  text-shadow: 0 0 5px rgba(239, 151, 19, 1), 0 0 10px rgba(239, 151, 19, 1), 0 0 15px rgba(239, 151, 19, 1), 0 0 20px rgba(239, 151, 19, 1), 0 0 25px rgba(239, 151, 19, 1), 0 0 30px rgba(239, 151, 19, 1), 0 0 35px rgba(239, 151, 19, 1);
}

.plan-title {
  font-family: 'poppins';
  font-weight: 700;
  background-image: linear-gradient(96.75deg, #BF00FF -11.45%, #8949FF 43.55%, #0000FF 95.09%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-left: 1.2rem;
  position: relative;
  top: -20px; 
}

.description-1 {
  position: relative;
  font-family: 'poppins';
  font-weight: 500;
  margin-left: 1.2rem;
  top: -16px; 
}

.description-2 {
  position: relative;
  font-family: 'poppins';
  font-weight: 500;
  font-size: 15px;
  margin-left: 1.2rem;
  top: -10px;  
}

.mr-2 {
  font-family: 'poppins';
  font-weight: 600;
  margin-right: 0.5rem;
  color: #7B79E3;
}

.yearly-button {
  position: relative;
  padding: 6px 12px;
  font-size: 14px;
  background: linear-gradient(101.55deg, #BF00FF -42.21%, #8949FF 75.69%, #0000FF 195.38%);
  margin-top: 2rem;
  margin-right: 3rem;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.plan-button {
  font-size: 17px;
  background: white;
  border: 1px solid green;
  color: #006533;
  border-radius: 10px;
  cursor: pointer;
  height: 7vh;
}

.plan-button:hover {
  background: linear-gradient(101.55deg, #BF00FF -42.21%, #8949FF 75.69%, #0000FF 195.38%);
  color: white;
  border: none;
}

.ms-4 {
  margin-left: 1.5rem;
}

.text-left {
  text-align: left !important;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

New styles 
.first-card {
  margin-left: 10px; 
} 
.second-card {
  margin-right: 3rem;
  margin-left: 5px; 
}
.third-card {
  margin-right: 3rem;
  margin-left: 5px; 
} */